
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<div>
    <span>
        <p>This is an App created to help you keep track of your tasks.</p>
    </span>
</div>

<br>

{% if user.is_authenticated %}
<p>Hi {{user.username}}!</p>
<p>Your name is {{user.first_name}} {{user.last_name}}</p>
<p>Got new tasks that you haven't included here?</p>
<p><a href="{% url 'todo_new' %}">Add New Tasks</a> before you forget</p>
<br>
<p>Our memories can be tricky sometimes, but you don't have to worry.</p>
<p>click below to view your tasks.</p>
<p><a href="{% url 'todo_list' %}">My To-do List</a></p><hr>
<p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}
