
{% extends "base.html" %}
{% block title %}To-Do{% endblock title %}

{% block content %}
{% for todo in todo_list %}
<div class="card">
    <div class="card-header">
        <span >
            <p class="font-weight-bold"><a href="{% url 'todo_detail' todo.pk %}" class="font-weight-bold">{{ todo.title }}</a></p>
            <p>By {{ todo.author }}</p>
            <p>Created on: {{ todo.created }}</p>
            <input type="checkbox" disabled {% if todo.Done %} checked {% endif %}>
        </span>
    </div>

    <div class="card-footer text-center text-muted">
        <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}
